@import url('https://fonts.googleapis.com/css?family=Lora:700|Montserrat:300');
$font-lora: 'Lora', serif;
$font-montserratlight: 'Montserrat', sans-serif;


.icon {
    font-size: 50px;
    color: #444;
    margin: 0 5px;
}